@import "./normalize.css";
:root {
    --color-primary: #fff;
    --color-secondary: #050505;
    --color-accent: #13556e;
    --color-headings: #050505;
    --color-body: #918ca4;
  }

  /* Typograpghy*/
  body {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
   
  }
  
  h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4rem;
  }
  
  h3 {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.3;
  }
  @media screen and (min-width: 1024px) {
    body {
      font-size: 1.8rem;
    }
    h1 {
      font-size: 8rem;
    }
    h2 {
      font-size: 4rem;
    }
    h3 {
      font-size: 2.4rem;
    }
}
/*Homepage*/
    .horizontal{
    color: var(--color-secondary);
        list-style: none;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        letter-spacing: 12px;
        text-size-adjust: 100%;
    }
    .horizontal__link{
        display: list-item;
        font-size: 40px;
        font-weight: 400;
        letter-spacing: normal;
        margin-top: 5rem;
        text-align:center

    }
    @media screen and (min-width: 768px) {
        .horizontal{
            margin-top: 9rem;
        }
        .horizontal__link{
            display: inline-block;
            letter-spacing: normal;
            margin-right: 24px;
            padding-left: 50px;
            padding-right: 125px;
            text-align: center;
            text-rendering: auto;
            
        }


    }
