@import "./normalize.css";
:root {
    --color-primary: #fff;
    --color-secondary: #050505;
    --color-accent: #13556e;
    --color-headings: #050505;
    --color-body: #918ca4;
  }

  /* Typograpghy*/
  body {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-size: 1.8rem;
   
  }
  
  h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
    line-height: 1.1;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 4rem;
  }
  
  h3 {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.3;
  }
  @media screen and (min-width: 1024px) {
    body {
      font-size: 1.8rem;
    }
    h1 {
      font-size: 8rem;
    }
    h2 {
      font-size: 4rem;
    }
    h3 {
      font-size: 2.4rem;
    }
}
/*Homepage*/
    .horizontal{
    color: var(--color-secondary);
        list-style: none;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        letter-spacing: 12px;
        text-size-adjust: 100%;
    }
    .horizontal__link{
        display: list-item;
        font-size: 40px;
        font-weight: 400;
        letter-spacing: normal;
        margin-top: 5rem;
        text-align:center

    }
    @media screen and (min-width: 1024px) {
        .horizontal{
            margin-top: 9rem;
        }
        .horizontal__link{
            display: inline-block;
            letter-spacing: normal;
            margin-right: 24px;
            padding-left: 50px;
            padding-right: 125px;
            text-align: center;
            text-rendering: auto;
            
        }
    }
    /* Icons */

.icon {
    width: 40px;
    height: 40px;
  }
  .icon--small {
    width: 30px;
    height: 30px;
  }
  
  .icon--primary {
    fill: var(--color-primary);
  }
  
  .icon--white {
    fill: #fff;
  }
  
  .icon-container {
    background: #f3f9fa;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
    /* Navigation Bar */
    
    .nav{
       
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 1rem;
    }
   
    .nav__list {
        width: 100%;
        margin: 0;
        list-style: none;
      }
      .nav__item {
        padding: 0.5rem 1rem;
        border-bottom: 1px solid;
      }
      .nav__toggler {
        opacity: 0.5;
        transition: box-shadow 0.15s;
        cursor: pointer;
      }
      .nav.collapsible--expanded .nav__toggler {
        opacity: 1;
        box-shadow: 0 0 0 3px #666;
        border-radius: 5px;
      }
      .nav__brand {
        transform: translateY(5px);
        width: 150px;
      }
      @media screen and (min-width: 768px) {
        .nav__toggler {
          display: none;
        }
        .nav__list {
            width: auto;
            display: flex;
            font-size: 1rem;
            max-height: 100%;
            opacity: 1;
            list-style: none;
            margin-right:10rem;
          }
          .nav__item {
            border: 0;
          }

    }
    /* Collapsibles */

.collapsible__header {
    display: flex;
    justify-content: space-between;
  }
  
  .collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
  }
  
  .collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
  }
  
  .collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
  }
  
  .collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
  }
  
  .collapsible--expanded .collapsible__content {
    max-height: 100%;
    opacity: 1;
  }
  /*porfolio body*/
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
 
  .grid {
    display: grid;
    
  }
  .feature{
    gap:1rem;
  }
  .feature__image{
    width: 100%;
  }
  
  @media screen and (min-width: 1024px) {
    .grid--1x4 {
      grid-template-columns: repeat(2, 1fr);
    }
    .container{
        margin-top: 4rem;
    }
  }
  